/* ==========================================================================
   Flapjack Front End
   Button Styling
   ========================================================================== */

@btn-font-size-px: 14px;

/* topdoc
    name: Default button
    family: fj-buttons
    patterns:
    - name: Default state
      markup: <button class="btn">Sign up</button>
    - name: Hovered/focused state
      markup: <button class="btn hover">Sign up</button>
    - name: Active state
      markup: <button class="btn active">Sign up</button>
    tags:
    - fj-buttons
*/

.btn {

    @font-size: @btn-font-size-px;

    &,
    &:link,
    &:visited {
        box-sizing: border-box;
        display: inline-block;
        margin: 0;
        padding: unit( 10px / @font-size, em ) 1em;
        .webfont-medium;
        font-size: unit( @font-size / @base-font-size-px, em );
        line-height: 1;
        text-decoration: none;
        color: @white;
        background-color: @pacific;
        border: 0;
        border-radius: unit( 4px / @font-size, em );
        cursor: pointer;
        -webkit-transition: .1s;
           -moz-transition: .1s;
             -o-transition: .1s;
            -ms-transition: .1s;
                transition: .1s;
    }

    &:hover,
    &:focus,
    &.hover {
        background-color: @pacific-80;
    }

    &:active,
    &.active {
        background-color: @navy-80;
    }

}


/* topdoc
    name: Secondary button
    family: fj-buttons
    patterns:
    - name: Default state
      markup: <button class="btn btn-secondary">Sort</button>
    - name: Hovered/focused state
      markup: <button class="btn btn-secondary hover">Sort</button>
    - name: Active state
      markup: <button class="btn btn-secondary active">Sort</button>
    tags:
    - fj-buttons
*/

.btn-secondary {

    background-color: @gray;
    color: @white;

    &:hover,
    &:focus,
    &.hover {
        background-color: @gray-80;
    }

    &:active,
    &.active {
        background-color: @gray-80;
    }

}

///* topdoc
    // name: Tertiary button
    // family: fj-buttons
    // patterns:
    // - name: Default state
    //   markup: <button class="btn btn-tertiary">Clear</button>
    // - name: Hovered/focused state
    //   markup: <button class="btn btn-tertiary hover">Clear</button>
    // - name: Active state
    //   markup: <button class="btn btn-tertiary active">Clear</button>
    // tags:
    // - fj-buttons
//*/

// .btn-tertiary {

//     & {
//         background-color: @gray-20;
//         color: @black;
//     }

//     &:hover,
//     &:focus,
//     &.hover {
//         background-color: @green-midtone;
//     }

//     &:active,
//     &.active {
//         background-color: @green;
//         color: @white;
//     }

// }


/* topdoc
    name: Destructive action buttons
    family: fj-buttons
    patterns:
    - name: Default state
      markup: <button class="btn btn-warning">Delete</button>
    - name: Hovered/focused state
      markup: <button class="btn btn-warning hover">Delete</button>
    - name: Active state
      markup: <button class="btn btn-warning active">Delete</button>
    tags:
    - fj-buttons
*/

.btn-warning {

    & {
        background-color: @redorange;
        color: @white;
    }

    &:hover,
    &:focus,
    &.hover {
        background-color: @redorange-80;
    }

    &:active,
    &.active {
        background-color: @dark-redorange;
    }

}


/* topdoc
    name: Disabled button
    family: fj-buttons
    patterns:
    - name: Default/hovered/focused/active state
      markup: <button class="btn btn-disabled">Submit</button>
    tags:
    - fj-buttons
*/

.btn-disabled {

    &,
    &:hover,
    &:focus,
    &.hover,
    &.active {
        background-color: @gray-20;
        color: @gray;
        cursor: default; // Fallback for IE/Opera
        cursor: not-allowed;
    }

}


/* topdoc
    name: Super button
    family: fj-buttons
    patterns:
    - name: Default state
      markup: <button class="btn btn-super">Sign me up!</button>
    - name: Hovered/focused state
      markup: <button class="btn btn-super hover">Sign me up!</button>
    - name: Active state
      markup: <button class="btn btn-super active">Sign me up!</button>
    tags:
    - fj-buttons
*/

.btn-super {

    @font-size: 18px;

    & {
        padding: unit( 15px / @font-size, em ) unit( 30 / @font-size, em );
        font-size: unit( @font-size / @base-font-size-px, em );
    }

}


/* topdoc
    name: Buttons with icons
    family: fj-buttons
    patterns:
    - name: Leading icon
      markup:
        <button class="btn">
            <i class="btn-leading-icon icon-chevron-left"><span class="jekyll-bug"></span></i> Previous
        </button>
    - name: Trailing icon
      markup:
        <button class="btn">
            Next <i class='btn-trailing-icon icon-chevron-right'><span class='jekyll-bug' /></i>
        </button>
    - name: Just an icon
      markup:
        <button class="btn">
            <i class='icon-search'><span class='jekyll-bug' /></i>
        </button>
    tags:
    - fj-buttons
    - fj-icons
*/

.btn-leading-icon {
    @font-size: @btn-font-size-px;

    margin: 0 unit( 7px / @font-size, em) 0 0;
    padding: 0 unit( 10.5px / @font-size, em) 0 0;
    color: @white;
    border-right: 1px solid @white; // Fallback
    border-right: 1px solid rgba(255, 255, 255, 0.4);
    position: relative;
}

.btn-trailing-icon {
    @font-size: @btn-font-size-px;

    margin: 0 0 0 unit( 7px / @font-size, em);
    padding: 0 0 0 unit( 10.5px / @font-size, em);
    border-right: 0;
    border-left: 1px solid @white; // Fallback
    border-left: 1px solid rgba(255, 255, 255, 0.4);
}


/* topdoc
    name: Button link
    family: fj-buttons
    patterns:
    - name: Default state
      markup: <button class="btn btn-link">Find out more</button> <button class="btn">Buttony</button>
    - name: Hovered state
      markup: <button class="btn btn-link hover">Find out more</button> <button class="btn">Buttony</button>
    - name: Focused state
      markup: <button class="btn btn-link focus">Find out more</button> <button class="btn">Buttony</button>
    - name: Active state
      markup: <button class="btn btn-link active">Find out more</button> <button class="btn">Buttony</button>
    tags:
    - fj-buttons
*/

.btn-link {

    @font-size: @btn-font-size-px;

    &,
    &:link,
    &:visited {
        // This margin is necessary to vertically align link buttons with regular buttons.
        // You can add to the left and right margin, but be wary of changing the top/bottom.
        margin: unit( 10px / @font-size, em);
        padding: 0;
        background-color: transparent;
        color: @pacific;
        border-bottom: 1px dotted @pacific;
        border-radius: 0;
    }

    &:hover,
    &.hover {
        color: @pacific-50;
        border-bottom: 1px solid @pacific-50;
        background-color: transparent;
    }

    &:focus,
    &.focus {
        border-bottom-style: solid;
        outline: thin dotted;
        background-color: transparent;
    }

    &:active,
    &.active {
        border-bottom: 1px solid @navy;
        background-color: transparent;
        color: @navy;
    }

}


/* topdoc
    name: Destructive action button link
    family: fj-buttons
    patterns:
    - name: Default state
      markup: <button class="btn btn-link btn-warning">Delete</button>
    - name: Hovered state
      markup: <button class="btn btn-link btn-warning hover">Delete</button>
    - name: Focused state
      markup: <button class="btn btn-link btn-warning focus">Delete</button>
    - name: Active state
      markup: <button class="btn btn-link btn-warning active">Delete</button>
    tags:
    - fj-buttons
*/

.btn-link.btn-warning {

    & {
        color: @redorange;
        border-bottom-color: @redorange;
        background-color: transparent;
    }

    &:hover,
    &.hover {
        color: @redorange-80;
        border-bottom-color: @redorange-80;
    }

    &:focus,
    &.focus {
        border-bottom-color: @redorange-80;
        outline: thin dotted;
    }

    &:active,
    &.active {
        color: @dark-redorange;
        border-bottom-color: @dark-redorange;
    }

}


/* topdoc
  name: EOF
  eof: true
*/
