/* ==========================================================================
   Flapjack Front End
   Button Styling
   ========================================================================== */

/* topdoc
    name: Default button
    family: fj-buttons
    patterns:
    - name: Default button
      markup: <button class="btn">Buttony</button>
    tags:
    - fj-buttons
*/

.btn,
.btn:link,
.btn:visited {
    @font-size: 14px;

    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    padding: unit( 10px / @font-size, em ) 1em;
    .webfont-medium;
    font-size: unit( @font-size / @base-font-size-px, em );
    line-height: 1;
    text-decoration: none;
    background-color: @pacific;
    color: @white;
    border-width: 0;
    -webkit-border-radius: unit( 4px / @font-size, em );
       -moz-border-radius: unit( 4px / @font-size, em );
            border-radius: unit( 4px / @font-size, em );
    -webkit-transition: .1s;
       -moz-transition: .1s;
            transition: .1s;
}

.btn:hover,
.btn:focus {
    background-color: @pacific-80;
}
.btn:active {
    background-color: @navy-80;
}

/* topdoc
    name: Secondary button
    family: fj-buttons
    patterns:
    - name: Secondary button
      markup: <button class="btn btn-secondary">Buttony</button>
    tags:
    - fj-buttons
*/

.btn-secondary {
    background-color: @gray;
    color: @white;
}
.btn-secondary:hover,
.btn-secondary:focus {
    background-color: @gray-80;
}
.btn-secondary:active {
    background-color: @gray-80;
}

// Tertiary Button Styles
.btn-tertiary {
    background-color: @gray-20;
    color: @black;
}
.btn-tertiary:hover,
.btn-tertiary:focus {
    background-color: @green-midtone;
}
.btn-tertiary:active {
    background-color: @green;
    color: @white;
}

// Super Button Styles
.btn-super {
    @font-size: 18px;

    padding: unit( 15px / @font-size, em ) unit( 30 / @font-size, em );
    font-size: unit( @font-size / @base-font-size-px, em );
}
.btn-super:hover,
.btn-super:focus {
    // background-color: @pacific-80;
}
.btn-super:active {
    // background-color: @navy-80;
}

// Disabled Button Styles
.btn-disabled,
.btn-disabled:hover,
.btn-group:focus {
    background-color: @gray-20;
    color: @gray;
    cursor: default; // Fallback for IE/Opera
    cursor: not-allowed;
}

// Simple link with same dimensions as button
.btn-link,
.btn-link:link,
.btn-link:visited {
    @font-size: 14px;
    padding: 0;
    border-bottom: 1px dotted @pacific;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;

    // This margin is necessary to vertically align link buttons with regular buttons.
    // You can add to the left and right margin, but be wary of changing the top/bottom.
    margin: unit( 10px / @font-size, em);

    background-color: transparent;
    color: @pacific;
}
.btn-link:hover {
    color: @pacific-50;
    border-bottom: 1px solid @pacific-50;
    background-color: transparent;
}
.btn-link:focus {
    border-bottom-style: solid;
    outline: thin dotted;
    background-color: transparent;
}
.btn-link:active {
    border-bottom: 1px solid @navy;
    background-color: transparent;
    color: @navy;
}

//Destructive Action Button Styles
.btn-warning {
    background-color: @redorange;
    color: @white;
}
.btn-warning:hover,
.btn-warning:focus {
    background-color: @redorange-80;
}
.btn-warning:active {
    background-color: @dark-redorange;
}

//Simple link + destructive action
.btn-link.btn-warning {
    border-bottom-color: @redorange;
    background-color: transparent;
    color: @redorange;
}
.btn-link.btn-warning:hover,
.btn-link.btn-warning:focus {
    border-bottom-color: @redorange-80;
    color: @redorange-80;
}
.btn-link.btn-warning:active {
    border-bottom-color: @dark-redorange;
    color: @dark-redorange;
}


//Compound button styles
.btn-group .btn:first-child {
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
       -moz-border-radius-topright: 0;
       -moz-border-radius-bottomright: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
    margin-right: -0.26em;
}
.btn-group .secondary-action {
    -webkit-border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
       -moz-border-radius-topleft: 0;
       -moz-border-radius-bottomleft: 0;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
    background-color: @pacific-80;
}
.btn-group .secondary-action:hover,
.btn-group .secondary-action:focus {
    background-color: @pacific;
}
.btn-group .secondary-action:active {
    background-color: @navy-80;
}


//Button icons
.btn-icon [class^="icon-"] {
    padding-right: 0.75em;
    border-right: 1px solid rgba(255, 255, 255, 0.4);
    margin: -0.35em 0.5em -0.5em 0;
    color: @white;
    position: relative;
    line-height: 1.42857142857143;
}
.btn-icon [class$="-right"] {
    padding-right: 0;
    padding-left: 0.75em;
    border-right: 0;
    border-left: 1px solid rgba(255, 255, 255, 0.4);
    margin: -0.35em 0 -0.5em 0.5em;
}
