/* ==========================================================================
   Flapjack Front End
   Button Styling
   ========================================================================== */

/* topdoc
    name: Default button
    family: fj-buttons
    patterns:
    - name: Default state
      markup: |
        <a href="#" class="btn">Anchor Tag</a>
        <button class="btn">Button Tag</button>
        <input type="submit" value="Input Tag" class="btn" />
    - name: Hovered/focused state
      markup: |
        <a href="#" class="btn hover">Anchor Tag</a>
        <button class="btn hover">Button Tag</button>
        <input type="submit" value="Input Tag" class="btn hover" />
    - name: Active state
      markup: |
        <a href="#" class="btn active">Anchor Tag</a>
        <button class="btn active">Button Tag</button>
        <input type="submit" value="Input Tag" class="btn active" />
    tags:
    - fj-buttons
*/

@btn-font-size-px: 14px;
@btn-v-padding-px: 9px;
@btn-h-padding-px: 14px;

.btn {

    @font-size: @btn-font-size-px;

    &,
    &:link,
    &:visited {
        box-sizing: border-box;
        display: inline-block;
        margin: 0;
        padding:
            unit( @btn-v-padding-px / @font-size, em )
            unit( @btn-h-padding-px / @font-size, em );
        .webfont-medium;
        font-size: unit( @font-size / @base-font-size-px, em );
        line-height: normal;
        color: @white;
        background-color: @pacific;
        border: 0;
        border-radius: unit( 4px / @font-size, em );
        cursor: pointer;
        text-decoration: none;
        vertical-align: middle;
        -webkit-appearance: none;
        -webkit-transition: .1s;
           -moz-transition: .1s;
             -o-transition: .1s;
            -ms-transition: .1s;
                transition: .1s;
    }

    &:hover,
    &:focus,
    &.hover {
        background-color: @pacific-80;
    }

    &:active,
    &.active {
        background-color: @navy-80;
    }

    button&::-moz-focus-inner,
    input&::-moz-focus-inner {
        // Fixes inconsistent button.btn height in FireFox
        // Helps with inconsistent input.btn height in FireFox but not completely
        border: 0;
    }

}

.lt-ie8 {

    @font-size: @btn-font-size-px;

    // Fixes scroll rendering bug
    // http://snipplr.com/view/518/
    & {
        background : url(null) fixed no-repeat;
    }

    // Fixes button and input sizes in IE7
    // Note that the "2" below is a magic number
    button.btn,
    input.btn {
        overflow: visible;
        padding-top: unit( (@btn-v-padding-px - 2) / @font-size, em );
        padding-bottom: unit( (@btn-v-padding-px - 2) / @font-size, em );
    }

}


/* topdoc
    name: Secondary button
    family: fj-buttons
    patterns:
    - name: Default state
      markup: |
        <a href="#" class="btn btn-secondary">Anchor Tag</a>
        <button class="btn btn-secondary">Button Tag</button>
        <input type="submit" value="Input Tag" class="btn btn-secondary" />
    - name: Hovered/focused state
      markup: |
        <a href="#" class="btn btn-secondary hover">Anchor Tag</a>
        <button class="btn btn-secondary hover">Button Tag</button>
        <input type="submit" value="Input Tag" class="btn btn-secondary hover" />
    - name: Active state
      markup: |
        <a href="#" class="btn btn-secondary focus">Anchor Tag</a>
        <button class="btn btn-secondary focus">Button Tag</button>
        <input type="submit" value="Input Tag" class="btn btn-secondary focus" />
    tags:
    - fj-buttons
*/

.btn-secondary {

    &,
    &:link,
    &:visited {
        background-color: @gray;
        color: @white;
    }

    &:hover,
    &:focus,
    &.hover {
        background-color: @gray-80;
    }

    &:active,
    &.active {
        background-color: @gray-80;
    }

}

///* topdoc
    // name: Tertiary button
    // family: fj-buttons
    // patterns:
    // - name: Default state
    //   markup: <button class="btn btn-tertiary">Clear</button>
    // - name: Hovered/focused state
    //   markup: <button class="btn btn-tertiary hover">Clear</button>
    // - name: Active state
    //   markup: <button class="btn btn-tertiary active">Clear</button>
    // tags:
    // - fj-buttons
//*/

// .btn-tertiary {

//     & {
//         background-color: @gray-20;
//         color: @black;
//     }

//     &:hover,
//     &:focus,
//     &.hover {
//         background-color: @green-midtone;
//     }

//     &:active,
//     &.active {
//         background-color: @green;
//         color: @white;
//     }

// }


/* topdoc
    name: Destructive action button
    family: fj-buttons
    patterns:
    - name: Default state
      markup: |
        <a href="#" class="btn btn-warning">Anchor Tag</a>
        <button class="btn btn-warning">Button Tag</button>
        <input type="submit" value="Input Tag" class="btn btn-warning" />
    - name: Hovered/focused state
      markup: |
        <a href="#" class="btn btn-warning hover">Anchor Tag</a>
        <button class="btn btn-warning hover">Button Tag</button>
        <input type="submit" value="Input Tag" class="btn btn-warning hover" />
    - name: Active state
      markup: |
        <a href="#" class="btn btn-warning active">Anchor Tag</a>
        <button class="btn btn-warning active">Button Tag</button>
        <input type="submit" value="Input Tag" class="btn btn-warning active" />
    tags:
    - fj-buttons
*/

.btn-warning {

    &,
    &:link,
    &:visited {
        background-color: @redorange;
        color: @white;
    }

    &:hover,
    &:focus,
    &.hover {
        background-color: @redorange-80;
    }

    &:active,
    &.active {
        background-color: @dark-redorange;
    }

}


/* topdoc
    name: Disabled button
    family: fj-buttons
    patterns:
    - name: Default/hovered/focused/active state
      markup: |
        <a href="#" class="btn btn-disabled">Anchor Tag</a>
        <button class="btn btn-disabled">Button Tag</button>
        <input type="submit" value="Input Tag" class="btn btn-disabled" />
    tags:
    - fj-buttons
*/

.btn-disabled {

    &,
    &:link,
    &:visited,
    &:hover,
    &:focus,
    &.hover,
    &.active {
        background-color: @gray-20;
        color: @gray;
        cursor: default; // Fallback for IE/Opera
        cursor: not-allowed;
    }

}


/* topdoc
    name: Super button
    family: fj-buttons
    patterns:
    - name: Default state
      markup: |
        <a href="#" class="btn btn-super">Anchor Tag</a>
        <button class="btn btn-super">Button Tag</button>
        <input type="submit" value="Input Tag" class="btn btn-super" />
    - name: Hovered/focused state
      markup: |
        <a href="#" class="btn btn-super hover">Anchor Tag</a>
        <button class="btn btn-super hover">Button Tag</button>
        <input type="submit" value="Input Tag" class="btn btn-super hover" />
    - name: Active state
      markup: |
        <a href="#" class="btn btn-super active">Anchor Tag</a>
        <button class="btn btn-super active">Button Tag</button>
        <input type="submit" value="Input Tag" class="btn btn-super active" />
    tags:
    - fj-buttons
*/

@super-btn-font-size-px: 18px;
@super-btn-v-padding-px: 15px;
@super-btn-h-padding-px: 30px;

.btn-super {

    @font-size: @super-btn-font-size-px;

    &,
    &:link,
    &:visited {
        padding:
            unit( @super-btn-v-padding-px / @font-size, em )
            unit( @super-btn-h-padding-px / @font-size, em );
        font-size: unit( @font-size / @base-font-size-px, em );
    }

}

.lt-ie8 {

    @font-size: @super-btn-font-size-px;

    // Fixes button and input sizes in IE7
    // Note that the "3" below is a magic number
    button.btn-super,
    input.btn-super {
        padding-top: unit( (@super-btn-v-padding-px - 3) / @font-size, em );
        padding-bottom: unit( (@super-btn-v-padding-px - 3) / @font-size, em );
    }

}


/* topdoc
    name: Button with icons
    family: fj-buttons
    patterns:
    - name: Leading icon
      markup: |
        <a href="#" class="btn">
            <i class="btn-leading-icon icon-chevron-left"><span class="jekyll-bug"></span></i> Anchor Tag
        </a>
        <button class="btn">
            <i class="btn-leading-icon icon-chevron-left"><span class="jekyll-bug"></span></i> Button Tag
        </button>
    - name: Trailing icon
      markup: |
        <a href="#" class="btn">
            Anchor Tag <i class="btn-trailing-icon icon-chevron-right"><span class="jekyll-bug"></span></i>
        </a>
        <button class="btn">
            Button Tag <i class="btn-trailing-icon icon-chevron-right"><span class="jekyll-bug"></span></i>
        </button>
    - name: Just an icon
      markup: |
        <a href="#" class="btn">
            <i class="icon-search"><span class="jekyll-bug"></span></i>
        </a>
        <button class="btn">
            <i class="icon-search"><span class="jekyll-bug"></span></i>
        </button>
    tags:
    - fj-buttons
    - fj-icons
*/


.btn {

    // Fixes #8, #15
    & [class^="icon-"],
    & [class*="icon-"] {
        line-height: 1;
    }

}

.btn-leading-icon {
    @font-size: @btn-font-size-px;

    margin: 0 unit( 7px / @font-size, em) 0 0;
    padding: 0 unit( 10.5px / @font-size, em) 0 0;
    color: @white;
    border-right: 1px solid @white; // Fallback
    border-right: 1px solid rgba(255, 255, 255, 0.4);
    position: relative;
}

.btn-trailing-icon {
    @font-size: @btn-font-size-px;

    margin: 0 0 0 unit( 7px / @font-size, em);
    padding: 0 0 0 unit( 10.5px / @font-size, em);
    border-right: 0;
    border-left: 1px solid @white; // Fallback
    border-left: 1px solid rgba(255, 255, 255, 0.4);
}


/* topdoc
    name: Button group
    family: fj-buttons
    patterns:
    - name: Default buttons in a button group
      markup: |
        <div class="btn-group">
            <a href="#" class="btn">Anchor 1</a>
            <a href="#" class="btn">Anchor 2</a>
            <a href="#" class="btn">Anchor 3</a>
        </div><br>
        <div class="btn-group">
            <button class="btn">Button 1</button>
            <button class="btn">Button 2</button>
            <button class="btn">Button 3</button>
        </div><br>
        <div class="btn-group">
            <input type="button" value="Input 1" class="btn" />
            <input type="button" value="Input 2" class="btn" />
            <input type="button" value="Input 3" class="btn" />
        </div>
    - name: Super buttons in a button group
      markup: |
        <div class="btn-group">
            <a href="#" class="btn btn-super">Anchor 1</a>
            <a href="#" class="btn btn-super">Anchor 2</a>
            <a href="#" class="btn btn-super">Anchor 3</a>
        </div><br>
        <div class="btn-group">
            <button class="btn btn-super">Button 1</button>
            <button class="btn btn-super">Button 2</button>
            <button class="btn btn-super">Button 3</button>
        </div><br>
        <div class="btn-group">
            <input type="button" value="Input 1" class="btn btn-super" />
            <input type="button" value="Input 2" class="btn btn-super" />
            <input type="button" value="Input 3" class="btn btn-super" />
        </div>
    tags:
    - fj-buttons
*/

.btn-group {

     @font-size: @btn-font-size-px;

    .btn:first-child:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .btn + .btn {
        margin-left: unit( -3px / @font-size, em );
    }

    .btn + .btn:not(:last-child) {
        border-radius: 0;
    }

    .btn:last-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .btn-super + .btn-super {
        @font-size: @super-btn-font-size-px;
        margin-left: unit( -3px / @font-size, em );
    }

}


/* topdoc
    name: Compound button
    family: fj-buttons
    patterns:
    - name: Default button style
      markup: |
        <div class="btn-group">
            <a href="#" class="btn">Anchor</a>
            <a href="#" class="btn btn-compound-action"><i class="icon-caret-down"><span class="jekyll-bug"></span></i></a>
        </div><br>
        <div class="btn-group">
            <button class="btn">Button</button>
            <button class="btn btn-compound-action"><i class="icon-caret-down"><span class="jekyll-bug"></span></i></button>
        </div><br>
    - name: Secondary button style
      markup: |
        <div class="btn-group">
            <a href="#" class="btn btn-secondary">Anchor</a>
            <a href="#" class="btn btn-secondary btn-compound-action"><i class="icon-caret-down"><span class="jekyll-bug"></span></i></a>
        </div><br>
        <div class="btn-group">
            <button class="btn btn-secondary">Button</button>
            <button class="btn btn-secondary btn-compound-action"><i class="icon-caret-down"><span class="jekyll-bug"></span></i></button>
        </div>
    - name: Super button style
      markup: |
        <div class="btn-group">
            <a href="#" class="btn btn-super">Anchor</a>
            <a href="#" class="btn btn-super btn-compound-action"><i class="icon-caret-down"><span class="jekyll-bug"></span></i></a>
        </div><br>
        <div class="btn-group">
            <button class="btn btn-super">Button</button>
            <button class="btn btn-super btn-compound-action"><i class="icon-caret-down"><span class="jekyll-bug"></span></i></button>
        </div>
    tags:
    - fj-buttons
    - fj-icons
*/

.btn-compound-action {

    @font-size: @btn-font-size-px;

    &,
    &:link,
    &:visited {
        background-color: @pacific-80;
    }

    &:hover,
    &:focus,
    &.hover {
        background-color: @pacific;
    }

    &.btn-secondary {
        background-color: @gray-80;
    }

    &.btn-secondary:hover,
    &.btn-secondary:focus,
    &.btn-secondary.hover {
        background-color: @gray;
    }

}


/* topdoc
    name: Button link
    family: fj-buttons
    patterns:
    - name: Default state
      markup: |
        <a href="#" class="btn btn-link">Anchor Tag</a>
        <button class="btn btn-link">Button Tag</button>
        <input type="button" value="Input Tag" class="btn btn-link" />
    - name: Hovered state
      markup: |
        <a href="#" class="btn btn-link hover">Anchor Tag</a>
        <button class="btn btn-link hover">Button Tag</button>
        <input type="button" value="Input Tag" class="btn btn-link hover" />
    - name: Focused state
      markup: |
        <a href="#" class="btn btn-link focus">Anchor Tag</a>
        <button class="btn btn-link focus">Button Tag</button>
        <input type="button" value="Input Tag" class="btn btn-link focus" />
    - name: Active state
      markup: |
        <a href="#" class="btn btn-link active">Anchor Tag</a>
        <button class="btn btn-link active">Button Tag</button>
        <input type="button" value="Input Tag" class="btn btn-link active" />
    tags:
    - fj-buttons
*/

.btn-link {

    @font-size: @btn-font-size-px;

    &,
    &:link,
    &:visited {
        // This margin is necessary to vertically align link buttons with regular buttons.
        margin: unit( @btn-v-padding-px / @font-size, em) 0;
        padding: 0;
        color: @pacific;
        background-color: transparent;
        border-bottom: 1px dotted @pacific;
        border-radius: 0;
    }

    &:hover,
    &.hover {
        color: @pacific-50;
        border-bottom: 1px solid @pacific-50;
        background-color: transparent;
    }

    &:focus,
    &.focus {
        border-bottom-style: solid;
        outline: thin dotted;
        background-color: transparent;
    }

    &:active,
    &.active {
        border-bottom: 1px solid @navy;
        background-color: transparent;
        color: @navy;
    }

}

.lt-ie8 {

    button.btn-link,
    input.btn-link {
        padding: 0;
    }

}


/* topdoc
    name: Destructive action button link
    family: fj-buttons
    patterns:
    - name: Default state
      markup: |
        <a href="#" class="btn btn-link btn-warning">Anchor Tag</a>
        <button class="btn btn-link btn-warning">Button Tag</button>
        <input type="button" value="Input Tag" class="btn btn-link btn-warning" />
    - name: Hovered state
      markup: |
        <a href="#" class="btn btn-link btn-warning hover">Anchor Tag</a>
        <button class="btn btn-link btn-warning hover">Button Tag</button>
        <input type="button" value="Input Tag" class="btn btn-link btn-warning hover" />
    - name: Focused state
      markup: |
        <a href="#" class="btn btn-link btn-warning focus">Anchor Tag</a>
        <button class="btn btn-link btn-warning focus">Button Tag</button>
        <input type="button" value="Input Tag" class="btn btn-link btn-warning focus" />
    - name: Active state
      markup: |
        <a href="#" class="btn btn-link btn-warning active">Anchor Tag</a>
        <button class="btn btn-link btn-warning active">Button Tag</button>
        <input type="button" value="Input Tag" class="btn btn-link btn-warning active" />
    tags:
    - fj-buttons
*/

.btn-link.btn-warning {

    &,
    &:link,
    &:visited {
        color: @redorange;
        border-bottom-color: @redorange;
        background-color: transparent;
    }

    &:hover,
    &.hover {
        color: @redorange-80;
        border-bottom-color: @redorange-80;
    }

    &:focus,
    &.focus {
        border-bottom-color: @redorange-80;
        outline: thin dotted;
    }

    &:active,
    &.active {
        color: @dark-redorange;
        border-bottom-color: @dark-redorange;
    }

}


/* topdoc
  name: EOF
  eof: true
*/
